Der Datensatz der OECD enthält Messgrössen, die das Wohlergehen von Kindern in
den Mitgliedsstaaten ermitteln sollen.

- **a** Lesen Sie die Datei `child.csv` mit der folgenden Funktion ein:

In [1]:
from pandas import Series,DataFrame
import pandas as pd

data = pd.read_csv("../sw01/child.csv", sep=",", index_col=0)

In [2]:
data.head()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
Australia,20.813221,11.791352,2.2,19.700000,10.500000,520.00,1.610349,7.4,6.4,5.0,...,92.2,94.0,NaN,23.66,8.512646,NaN,NaN,14.3,NaN,NaN
Austria,22.162446,6.166094,0.6,34.014601,20.154186,502.00,1.716942,6.9,6.8,4.2,...,83.0,74.0,19.6,24.57,9.482761,27.1,18.6,12.3,15.6,38.1
Belgium,21.401153,9.974720,1.0,12.614505,29.754526,510.33,1.740258,6.2,7.8,3.7,...,97.0,88.0,19.1,28.97,8.977713,16.7,13.9,7.8,12.2,21.6
Canada,25.606245,15.057585,2.1,NaN,NaN,529.33,1.573912,6.1,5.9,5.3,...,78.0,94.0,23.6,23.43,10.047535,8.6,18.8,13.2,14.0,29.5
Czech Republic,10.849270,10.270000,1.2,58.899347,29.748594,502.00,1.743012,5.3,6.7,3.4,...,98.7,96.6,22.0,24.92,6.212492,21.5,16.8,11.4,5.5,11.7

Bestimmen Sie den Mittelwert und Median der einzelnen Variablen mit dem Python-Attribut `.describe()`.

In [3]:
data.describe()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
count,30.000000,30.000000,30.000000,26.000000,24.000000,30.000000,30.000000,27.000000,30.000000,30.000000,...,29.000000,29.000000,26.000000,29.000000,29.000000,24.000000,24.000000,30.000000,24.000000,25.00000
mean,18.847713,12.372193,2.673333,31.950163,25.217498,496.317000,1.665085,7.377778,6.643333,5.446667,...,93.775862,91.517241,20.134615,24.598966,6.856272,16.512500,15.225000,15.500000,10.979167,27.17200
std,7.597219,5.592696,3.315370,21.132363,7.483096,29.381643,0.067391,6.489656,1.728001,4.506756,...,5.317334,5.909138,6.157983,6.745815,3.204545,4.766852,4.301794,13.967326,5.146462,10.39926
min,3.839462,2.740000,0.400000,10.326503,10.500000,408.670000,1.475432,1.700000,3.900000,2.300000,...,78.000000,74.000000,13.100000,14.840000,1.263026,8.100000,10.000000,3.700000,4.200000,11.70000
25%,16.617877,8.901475,1.000000,17.058130,20.153506,482.750000,1.623048,4.550000,5.150000,3.525000,...,91.000000,88.000000,15.800000,21.170000,5.036520,14.625000,11.350000,7.050000,7.975000,21.40000
50%,21.107187,11.659053,1.500000,21.574977,25.487116,501.335000,1.682739,6.200000,6.750000,4.200000,...,95.800000,94.000000,19.300000,23.150000,6.784772,16.600000,14.550000,10.600000,9.650000,25.60000
75%,22.642722,16.091953,2.200000,44.392351,30.236732,512.835000,1.719012,8.400000,7.500000,5.250000,...,97.800000,96.300000,21.800000,25.750000,8.863713,19.500000,17.925000,17.800000,13.825000,34.90000
max,34.241822,24.590000,13.700000,73.957667,38.712874,552.670000,1.755798,37.700000,11.300000,23.600000,...,99.800000,99.800000,42.100000,50.230000,15.949567,27.100000,24.800000,65.800000,25.300000,57.40000

- **b** Gibt es `NaN`s im Datensatz?

Ja

- **c** Entfernen Sie alle Länder (Zeilen), die mindestens ein NaN enthalten

In [4]:
nonan_data = data.dropna()

In [5]:
nonan_data.head()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
Austria,22.162446,6.166094,0.6,34.014601,20.154186,502.00,1.716942,6.9,6.8,4.2,...,83.0,74.0,19.6,24.57,9.482761,27.1,18.6,12.3,15.6,38.1
Belgium,21.401153,9.974720,1.0,12.614505,29.754526,510.33,1.740258,6.2,7.8,3.7,...,97.0,88.0,19.1,28.97,8.977713,16.7,13.9,7.8,12.2,21.6
Czech Republic,10.849270,10.270000,1.2,58.899347,29.748594,502.00,1.743012,5.3,6.7,3.4,...,98.7,96.6,22.0,24.92,6.212492,21.5,16.8,11.4,5.5,11.7
Denmark,23.175894,2.740000,0.7,17.552965,20.151467,501.00,1.594974,4.3,4.9,4.4,...,95.0,96.0,22.7,22.93,5.942231,15.0,24.8,6.6,8.0,25.6
Finland,22.027651,4.170000,1.0,15.228876,22.802362,552.67,1.475432,5.2,4.1,3.0,...,97.0,97.0,24.8,23.54,12.158687,22.0,22.4,9.7,8.0,16.1

- **d** Entfernen Sie alle Messgrössen (Spalten), die mehr als zwei NaNs enthalten

In [6]:
nonan2_data = data.dropna(thresh=len(data)-2, axis='columns')

In [9]:
nonan2_data.head()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Average.mean.literacy.score,Literacy.inequality,Low.birth.weight,Infant.mortality,Breastfeeding.rates,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Mortality.rates,Suicide.rates,Teenage.births
Australia,20.813221,11.791352,2.2,520.00,1.610349,6.4,5.0,92.0,92.2,94.0,23.66,8.512646,14.3
Austria,22.162446,6.166094,0.6,502.00,1.716942,6.8,4.2,96.0,83.0,74.0,24.57,9.482761,12.3
Belgium,21.401153,9.974720,1.0,510.33,1.740258,7.8,3.7,71.5,97.0,88.0,28.97,8.977713,7.8
Canada,25.606245,15.057585,2.1,529.33,1.573912,5.9,5.3,84.5,78.0,94.0,23.43,10.047535,13.2
Czech Republic,10.849270,10.270000,1.2,502.00,1.743012,6.7,3.4,95.6,98.7,96.6,24.92,6.212492,11.4

- **e** Ersetzen Sie nun alle `NaN`s mit gewissen Werten, und zwar mit Hilfe einer Methode Ihrer Wahl. Erklären Sie die von Ihnen benützte Methode.

In [12]:
rand_data = data.fillna(0)

In [13]:
rand_data.head()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
Australia,20.813221,11.791352,2.2,19.700000,10.500000,520.00,1.610349,7.4,6.4,5.0,...,92.2,94.0,0.0,23.66,8.512646,0.0,0.0,14.3,0.0,0.0
Austria,22.162446,6.166094,0.6,34.014601,20.154186,502.00,1.716942,6.9,6.8,4.2,...,83.0,74.0,19.6,24.57,9.482761,27.1,18.6,12.3,15.6,38.1
Belgium,21.401153,9.974720,1.0,12.614505,29.754526,510.33,1.740258,6.2,7.8,3.7,...,97.0,88.0,19.1,28.97,8.977713,16.7,13.9,7.8,12.2,21.6
Canada,25.606245,15.057585,2.1,0.000000,0.000000,529.33,1.573912,6.1,5.9,5.3,...,78.0,94.0,23.6,23.43,10.047535,8.6,18.8,13.2,14.0,29.5
Czech Republic,10.849270,10.270000,1.2,58.899347,29.748594,502.00,1.743012,5.3,6.7,3.4,...,98.7,96.6,22.0,24.92,6.212492,21.5,16.8,11.4,5.5,11.7

- **f** Warum fehlen Datenwerte? Handelt es sich wohl um MCAR, MAR oder MNAR?

From [wikipedia](https://en.wikipedia.org/wiki/Missing_data):

**Missing completely at random**

Values in a data set are missing completely at random (MCAR) if the events that lead to any particular data-item being missing are independent both of observable variables and of unobservable parameters of interest, and occur entirely at random.[5] When data are MCAR, the analysis performed on the data is unbiased; however, data are rarely MCAR.

In the case of MCAR, the missingness of data is unrelated to any study variable: thus, the participants with completely observed data are in effect a random sample of all the participants assigned a particular intervention. With MCAR, the random assignment of treatments is assumed to be preserved, but that is usually an unrealistically strong assumption in practice.[6]

**Missing at random**

Missing at random (MAR) occurs when the missingness is not random, but where missingness can be fully accounted for by variables where there is complete information.[7] Since MAR is an assumption that is impossible to verify statistically, we must rely on its substantive reasonableness.[8] An example is that males are less likely to fill in a depression survey but this has nothing to do with their level of depression, after accounting for maleness. Depending on the analysis method, these data can still induce parameter bias in analyses due to the contingent emptiness of cells (male, very high depression may have zero entries). However, if the parameter is estimated with Full Information Maximum Likelihood, MAR will provide asymptotically unbiased estimates.[citation needed]

**Missing not at random**

Missing not at random (MNAR) (also known as nonignorable nonresponse) is data that is neither MAR nor MCAR (i.e. the value of the variable that's missing is related to the reason it's missing).[5] To extend the previous example, this would occur if men failed to fill in a depression survey because of their level of depression.