In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("d.fuel.dat", index_col=0)

In [9]:
# get 5. element (beware not index 0!)
data.loc[5]

weight     2440
mpg          32
type      Small
Name: 5, dtype: object

In [12]:
# get elements 1 - 5
data.loc[:5]

   weight  mpg   type
X
1    2560   33  Small
2    2345   33  Small
3    1845   37  Small
4    2260   32  Small
5    2440   32  Small

In [13]:
data["mpg"].mean()

24.583333333333332

In [15]:
data.loc[7:22]["mpg"].mean()

27.75

In [20]:
t_kml = data["mpg"].map(lambda m: m / 2.352)

In [23]:
t_kg = data["weight"].map(lambda w: w / 2.205)

In [25]:
t_kg.mean()

1315.5706727135296

In [26]:
t_kml.mean()

10.452097505668934